@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Loved by the King", serif;
  transition: 2s;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fcc8d1; */
  background: hsla(350, 86%, 97%, 1);

  background: radial-gradient(circle,
      hsla(350, 86%, 97%, 1) 0%,
      hsla(350, 90%, 89%, 1) 80%);

  background: -moz-radial-gradient(circle,
      hsla(350, 86%, 97%, 1) 0%,
      hsla(350, 90%, 89%, 1) 80%);

  background: -webkit-radial-gradient(circle,
      hsla(350, 86%, 97%, 1) 0%,
      hsla(350, 90%, 89%, 1) 80%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FEF2F4", endColorstr="#FCC8D1", GradientType=1);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #dc1818;
  background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l3 1s infinite;
}

@keyframes l3 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.greet {
  text-align: center;
  padding: 17px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #d14d72;
}

.card {
  width: 0;
  height: 0;
  border-top: 100px solid #fff;
  border-right: 150px solid #fef2f4;
  border-bottom: 100px solid #ddd;
  border-left: 150px solid #fef2f4;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heart {
  width: 36px;
  height: 36px;
  background: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 36px;
  height: 36px;
  background: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 36px;
  height: 36px;
  background: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }

  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

.prompt {
  text-align: center;
  padding: 7px;
  margin: 17px;
  font-family: "Times New Roman", Times, serif;
  /* text-transform: uppercase; */
  font-weight: bolder;
  font-style: italic;
  border-radius: 5px;
  background-color: rgba(255, 0, 93, 0.219);
}

.maxlet {
  margin-top: 2500px;
}

.paper {
  margin: 0 2rem;
  background: #ffffff;
  padding: 1.5rem;
  border-top: dashed 12px #fcc8d1;
  border-bottom: dashed 12px #fcc8d1;
}

img {
  width: 152px;
}

.aud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

audio {
  padding-bottom: 15px;
}